footer {
  display: flex;
  justify-content: center;
  align-self: center;
}
footer .container {
  background-color: rgb(1, 20, 13);
  padding: var(--main-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  font-weight: 500;
  box-shadow: 0 0 5px 1px rgb(0, 255, 0, 0.3);
  text-align: center;
  margin-top: var(--main-padding);
}

/* responsive */
@media (min-width: 320px) and (max-width: 767px),
  (max-width: 992px) and (orientation: landscape) {
  footer .container span {
    font-size: 0.5rem;
  }
}
